!!!
%html
  %head
    %title
    %link{:rel => 'stylesheet', :href => '/css/layout.css'}
    %link{:rel => 'stylesheet', :href => '/css/form.css'}
    %link{:rel => 'stylesheet', :href => '/css/results.css'}
    %script{:type => 'text/javascript', :src => '/scripts/jquery-2.0.1.js'}
    %script{:type => 'text/javascript', :src => '/scripts/view.js'}
  %body
    %div#form
      %div#form-header 
        TWU36 Survey Form
      = yield
