%div#result-content
 %div.greeting
  %span.date
 %div.greeting
  Welcome 
  %span.result#name
 %div.greeting
  Your awesome coach is
  %span.result#coach
 %div.greeting
  You are from 
  %span.result#region
 %div.greeting
  As a 
  %span.result#role
 %div.greeting
  The favorite session is 
  %span.result#session
